:root {
    --primary-color: #010016;
    --secondary-color: #008B8B;
}

/* F O N T S  */
* {
    font-family: 'Roboto', sans-serif;
}

/*  N A V B A R  */
nav {
    margin: 30px auto 0 auto;
    align-self: center;
    display: flex;
    padding-left: 0px;
    padding-bottom: 15px;
}

.dropup button {
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    width: 320px;
    cursor: pointer;
    padding: auto;
    border-radius: 10px;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 15px #5b5b5c;
    box-shadow: 0px 0px 15px #8a8a8a;
}

.dropup button:hover {
    width: 320px;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
}

.dropdown-menu {
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    min-width: 320px;
    display: none;
}

.dropdown-menu a {
    color: #fff;
    size-adjust: justify;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    display: block;
    border-radius: 10px;

}

.dropdown-menu a:hover {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
    color: #fff;
}


/* C A L C U L A T O R   B O D Y  */
body {
    padding: 0;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 12px;
}

.calculator {
    width: 320px;
    height: 465px;
    position: relative;
    border-radius: 10px;
    background: #000;
    padding: 10px;
}

.calculator:before,
.calculator:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    border-radius: 10px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.calculator:after {
    filter: blur(50px);
}

.calculator-screen {
    padding: 25px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: var(--secondary-color) 2px solid;
}

.calculator-display {
    width: 100%;
    border: none;
    text-align: right;
    font-size: 2em;
    border-radius: 10px;
}

.history {
    width: 100%;
    border: none;
    text-align: right;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-gap: 3px;
    padding-top: 25px;
}

.calculator-key {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: var(--secondary-color) 2px solid;
    cursor: pointer;
    font-size: 1.25em;
    border-radius: 10px;
}

.calculator-key:hover {
    background-color: #b9e7f7;
    -moz-box-shadow: 0px 0px 15px #0099ff;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
}

.calculator-display:disabled {
    background-color: var(--primary-color);
    color: #fff;
}